@import url("./iconfont.css");
@import url("normalize.css");

body {
  font: 14px/1.5 tahoma,verdana,arial,"Hiragino Sans GB","Segoe UI",\5FAE\8F6F\96C5\9ED1,\5b8b\4f53,sans-serif;
  color: #958572;
  background: #F5F4E9;
}

a, a:link {
  color: #2d93b4;
  text-decoration: none;
  transition: color ease 0.3s;
}

a:hover {
  color: #3DDEF5;
}

.fn-clear:after {
  visibility:hidden;
  display:block;
  font-size:0;
  content:" ";
  clear:both;
  height:0;
}
.fn-clear {
  zoom:1; /* for IE6 IE7 */
}

.fn-hide {
  display:none;
}

.fn-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ol, ul, li, p, h1, h2, h3, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style :none;
}

/* placeholder color */
.placeholdersjs {
  color: #beb1a2!important;
}

::-webkit-input-placeholder {
  color: #beb1a2;
}
:-moz-placeholder {
  color: #beb1a2;
}
::-moz-placeholder {
  color: #beb1a2;
}
:-ms-input-placeholder {
  color: #beb1a2;
}
.placeholdersjs {
  color: #beb1a2;
}
