@import url("nomalize.css");

body {
  font: 16px/1.5 tahoma, Verdana, arial, sans-serif;
  color: #958572;
  backgroud: #F5F4E9;
}

a, a:link {
  color: #2d93b4;
  text-decoration: none;
}

a:hover {
  color: #3DDEF5;
}

/* 清理浮动 */
.fn-clear:after {
  visibility:hidden;
  display:block;
  font-size:0;
  content:" ";
  clear:both;
  height:0;
}
.fn-clear {
  zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
.fn-hide {
  display:none;
}
