.us-button {
  color: #fff;
  font-size: 22px;
  display: inline-block;
  font-family: tahoma;
  border-width: 0 0 2px 0;
  cursor: pointer;
  border-style: solid;
  padding: 18px 36px;
  text-align: center;
}

a.us-button {
  color: #fff;
}

.us-button:hover {
  text-decoration: none;
  color: #fff;
}

.us-button-large {
  /* default size */
}

.us-button-middle {
  border-width: 0 0 1px 0;
  font-size: 18px;
  padding: 10px 24px;
}

.us-button-small {
  border-width: 0 0 1px 0;
  font-size: 14px;
  padding: 6px 18px;
}

.us-button,
.us-button-primary {
  background: #00B699;
  border-color: #008C7B;
}

.us-button-primary:hover {
  background: #008C7B;
}

.us-button-info {
  background: #BCAD8E;
  border-color: #958572;
}

.us-button-info:hover {
  background: #957E65;
  border-color: #674F34;
}
