.us-button {
  color: #fff;
  font-size: 22px;
  display: inline-block;
  font-family: tahoma;
  border-width: 0 0 2px 0;
  cursor: pointer;
  border-style: solid;
  padding: 18px 36px;
  text-align: center;
  transition: background-color ease 0.3s;
}

.us-button:active {
  position: relative;
  top: 1px;
}

a.us-button,
a.us-button:hover {
  color: #fff;
}

.us-button:hover {
  text-decoration: none;
  color: #fff;
}

.us-button-large {
  /* default size */
}

.us-button-middle {
  border-width: 0 0 1px 0;
  font-size: 18px;
  padding: 10px 24px;
}

.us-button-small {
  border-width: 0 0 1px 0;
  font-size: 14px;
  padding: 6px 18px;
}

.us-button,
.us-button-primary {
  background: #00B699;
  border-color: #008C7B;
}

.us-button-primary:hover {
  background: #008C7B;
}

.us-button-info {
  background: #BCAD8E;
  border-color: #958572;
}

.us-button-info:hover {
  background: #957E65;
  border-color: #674F34;
}

a.us-button-border, 
button.us-button-border {
  text-align: center;
  font-size: 18px;
  border: 2px solid #958572;
  background-color: transparent;
  color: #958572;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
}

a.us-button-border, 
button.us-button-border {
  color: #958572;
}

a.us-button-border:hover,
button.us-button-border:hover {
  background-color: #958572;
}

.us-button-disable,
.us-button-disable {
  background-color: #aaa;
  border-color: #777;
  cursor: default!important;
}

a.us-button-border.us-button-disable,
button.us-button-border.us-button-disable,
a.us-button-border.us-button-disable:hover,
button.us-button-border.us-button-disable:hover {
  border-color: #DBD7BA;
  cursor: default;
  color: #BCAD8E;
  background: transparent;
}

