@import url("./radio.css");

ul.us-channel {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 28px;
  color: #BCAD8E;
}

.us-channel-item {
  margin-bottom: 10px;
}

.us-channel-item-header {
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  background-color:#EEECDC;
  overflow: hidden;
  transition: background-color ease 1.2s;
}

.us-channel-item:hover .us-channel-item-header {
  background-color:#fff;
  color: #BCAD8E;
}

.us-channel-item-left {
  float: left;
  width: 160px;
  height: 40px;
  line-height: 42px;
  margin-right: 25px;
  margin-top: 10px;
  border-right: 2px solid #D9CEB5;
}

.us-channel-item-header > .us-money {
  float: right;
  margin-right: 30px;
}

.us-channel-item-selected .us-channel-item-header,
.us-channel-item-selected:hover .us-channel-item-header {
  background-color:#BCAD8E;
  color: #fff;
}

.us-channel-item-selected .us-channel-item-left {
  border-right: 0;
  background-color:#958572;
  margin-top: 0;
  padding-top: 5px;
  height: 50px;
  border-top: 5px solid #6C5C48;
}

.us-channel-item-icon {
  font-size: 32px;
  position: relative;
  top: -8px;
}

.us-channel-item-box {
  border: 2px solid #BCAD8E;
  border-top: none;
  display: none;
  margin-left: 160px;
  font-size: 16px;
}

.us-channel-item-selected .us-channel-item-box {
  display: block;
}

.us-channel-item .us-radio-dot {
  color: #958572;
  font-size: 45px;
  line-height: 22px;
  margin: 6px 3px 0 35px;
  text-indent: -10px;
  vertical-align: baseline;
  width: 48px;
}

.us-channel-item .us-radio-dot:before {
  color: #FFFFFF;
  font-size: 22px;
  left: 19px;
  top: -7px;
}

.us-channel-item .us-radio-dot:after {
  color: #FFFFFF;
  content: "●";
  font-family: arial;
  font-size: 44px;
  left: -28px;
  position: relative;
  top: -1px;
}

.us-channel-item-selected .us-radio-dot:before {
  color: #958572;
}
