.us-checkbox .us-checkbox-check {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: #958572;
  color: #958572;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  font-size: 18px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.us-checkbox-checked .us-checkbox-check {
  color: #F5F4E9;
}

.us-checkbox input[type=checkbox] {
  display: none;
}
