.us-dropdown {
  padding: 0px;
  margin: 0px;
  list-style: none;
  background-color :#3AA890;
  width: 200px;
  padding-bottom: 10px;
  font-size: 14px;
  border: 1px solid #218276;
  border-top: none;
}

.us-dropdown-item a {
  display: block;
  color: #fff;
  height: 30px;
  line-height:26px;
  border-top: 2px solid #3AA890;
  text-indent: 14px;
  transition: background-color ease 0.3s;
}

.us-dropdown-item a:hover {
  color: #fff;
  background-color: #218276;
  border-top: 2px solid #115148;
}

a.us-dropdown-focus {
  background-color:#008C7B;
  color: #F4F7DB;
  position: relative;
}

a.us-dropdown-focus i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  transform: rotate(180deg);
  color: #F4F7DB;
}

a.us-dropdown-focus:hover,
a.us-dropdown-focus:hover i {
  color: #F4F7DB;
}

a.us-dropdown-focus:after {
  border-style: solid;
  border-color: transparent rgba(0,0,0,0.27);
  border-width: 48px 0 0 48px;
  content: "";
  position: absolute;
  top: 0;
  right: -48px;
  width: 0;
  height: 0;
}

/* ie8 hack */
@media \0screen {
  a.us-dropdown-focus:after {
    border-color: transparent #292929;
    z-index: -1;
  }
}
