.us-filter {
  font-size: 12px;
}

.us-filter-item a {
  font-size: 16px;
  color: #927e67;
  display: block;
  background-color:#ECEAD8;
}

.us-filter-item a:hover {
  background-color:#958572;
  color: #fff;
}

.us-filter-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 140px;
  text-align:center;
  height: 40px;
  line-height: 40px;
}

.us-filter-item-selected a {
  background-color:#DBD7BA;
}
