.us-input,
.us-textarea {
  border: 2px solid #fff;
  background: #fff;
  padding: 12px;
  font-size: 16px;
  outline: none;
  transition: border-color ease 0.3s;
}

.us-input:focus,
.us-textarea:focus {
  border: 2px solid #00B699;
  border-radius: 2px;
}

.us-label-text {
  margin-right: 15px;
  color: #958572;
  font-size: 16px;
}

.us-form {
  margin: 20px;
}

.us-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.us-form legend {
  font-size: 26px;
  margin-bottom: 20px;
}

.us-form-item {
  margin-bottom: 20px;
  color: #625647;
}

.us-form-item .us-label-text {
  width: 156px;
  text-align: right;
  display: inline-block;
}

.us-form-explain {
  margin: 10px 0 0 178px;
  color: #958572;
}

.us-form-explain.us-notice {
  border: none;
  color: #958572;
}

.us-form-explain.us-notice:before {
  display: none;
}

.us-form-explain.us-notice .us-notice-icon {
  width: 25px;
  height: 25px;
  line-height: 24px;
  font-size: 18px;
  margin-right: 2px;
}

.us-form-item-error .us-input,
.us-form-item-error .us-textarea {
  border-color: #CC5555;
}

.us-form-item-error .us-form-explain {
  color: #CC5555;
}

.us-label input + a {
  margin-left: 15px;
}
