.us-header {
  height: 48px;
  line-height: 48px;
  margin: 0 auto;
  width: 990px;
  background: #393836;
  font-size: 14px;
  border-bottom: 3px solid #43C8B1;
}

.us-header a {
  color: #F4F7DB;
}

.us-header a:hover {
  color: #418779;
}

a.us-header-item {
  float: left;
  width: 122px;
  text-align:center;
}

.us-header a.us-header-item-focus {
  background-color:#008C7B;
  color: #F4F7DB;
}
