.us-main {
  min-height: 560px;
}
.us-header,
.us-footer {
  background: #585858;
}
#ServerNum {
  color: #585858;
}

.us-header {
  height: 48px;
  line-height: 48px;
  border-bottom: 3px solid #43C8B1;
}

a.us-header-item {
  float: left;
  padding: 0 20px;
  text-align:center;
  z-index: 1;
  color: #F4F7DB;
}

a.us-header-item i.iconfont {
  font-size: 7px;
  vertical-align: top;
  font-weight: bold;
  margin-left: 7px;
  color: #F4F7DB;
  display: inline-block;
  transition: transform 0.3s ease;
}

a.us-header-item:hover,
a.us-header-item:hover i {
  color: #43C8B1;
}

a.us-header-name {
  margin-right: 20px;
  width: 200px;
  text-align: right;
}

.us-header-right {
  float: right;
}

.container-990 {
  margin: 0 auto;
  width: 990px;
}

.us-footer {
  text-align: center;
  height: 104px;
  padding-top: 20px;
  margin-top: 20px;
  font-size: 14px;
  color: #ACACAC;
}

.us-footer a {
  color: #ACACAC;
}

.us-footer p {
  margin: 5px;
}

.us-nav {
  position: relative;
}

.us-nav a {
  color: #918A7F;
}

.us-nav ul {
  margin: 0 0 0 160px;
  height: 70px;
  padding: 0px;
  list-style: none;
}

.us-nav li.us-nav-item {
  float: left;
  padding: 0 28px;
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
}

.us-nav li.us-nav-item-current a,
.us-nav li.us-nav-item a:hover {
  color: #43C8B1;
}

.us-logo {
  height: 101px;
  width: 160px;
  position: absolute;
  bottom: 0;
  margin: 0;
  background #6EC3AF;
  text-indent: -999px;
  background: #43C8B1 url('https://i.alipayobjects.com/e/201311/1agyQ79Kej.png') no-repeat;
}

.us-logo a {
  display: block;
  height: 101px;
}

.us-logo:after {
  border-style: solid;
  border-width: 28px 0 0 28px;
  content: "";
  position: absolute;
  top: 0;
  right: -28px;
  width: 0;
  height: 0;
  border-color: transparent #4D4D4D;
}

.us-header.single-task {
  height: 88px;
  line-height: 88px;
}

.us-nav.single-task {
  height: 30px;
}

.single-task .us-logo:after {
  border-width: 67px 0 0 67px;
  right: -67px;
}

.single-task  a.us-dropdown-focus:after {
  border-width: 87px 0 0 87px;
  right: -87px;
}

.us-nav.single-task ul {
  display: none;
}

.us-title {
  color: #918A7F;
  font-size: 38px;
  font-weight: normal;
  margin: 30px 0;
}
