.us-noticebox {
  background-color: #00B699;
  color: #fff;
  padding: 35px 40px 40px 120px;
  position: relative;
  font-size: 14px;
}

.us-noticebox a {
  color: #fff;
  text-decoration: underline;
}

.us-noticebox h3 {
  font-size: 24px;
  font-weight: normal;
}

.us-noticebox h3,
.us-noticebox p {
  margin: 0;
}

.us-noticebox-icon {
  font-size: 32px;
  left: 50px;
  line-height: 1;
  position: absolute;
  top: 40px;
}

.us-noticebox p.us-noticebox-link {
   margin-top: 20px;
}
