.us-noticebox {
  background-color: #00B699;
  color: #fff;
  padding: 35px 40px 40px 125px;
  position: relative;
  font-size: 14px;
}

.us-noticebox a {
  color: #fff;
}

.us-noticebox h3 {
  font-size: 24px;
  font-weight: normal;
}

.us-noticebox h3,
.us-noticebox p {
  margin: 0;
}

.us-noticebox-icon {
  font-size: 40px;
  left: 60px;
  line-height: 1;
  position: absolute;
  top: 46px;
  color: #00AE93;
  z-index: 1;
}

.us-noticebox-icon:before {
  position: absolute;
  color: #fff;
  content: "●";
  font-family: arial;
  font-size: 112px;
  left: -22px;
  top: -40px;
  z-index: -1;
}

.us-noticebox p.us-noticebox-link {
  margin-top: 15px;
}

.us-noticebox-mainlink {
  margin: 15px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
}

.us-noticebox-mainlink a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.us-noticebox-link a {
  text-decoration: underline;
}

.us-noticebox-content hr {
  background-color: #fff;
  border: none;
  display: block;
  height: 1px;
  margin: 20px 0;
}
