.us-notice,
.us-notice-box {
  color: #958572;
}

.us-notice-icon {
  font-size: 16px;
  margin-right: 2px;
}

.us-notice-box {
  padding: 17px 20px 17px 75px;
  border: 1px solid #958572;
  position: relative;
}

.us-notice-box h3,
.us-notice-box ul,
.us-notice-box ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.us-notice-box h3 {
  font-weight: normal;
  color: #625647;
  margin-bottom: 5px;
}

.us-notice-box .us-notice-icon {
  font-size: 32px;
  left: 25px;
  position: absolute;
  top: 5px;
}

.us-notice-box-error {
  border: 2px solid #C30000;
  color: #CC3F43;
}

.us-notice-box-error .us-notice-icon {
  color: #CC3F43;
}
