.us-radio {
  color: #DFDAC0;
  display: inline-block;
  font-size: 46px;
  line-height: 18px;
  vertical-align: middle;
  overflow: hidden;
  text-indent: -9px;
  width: 30px;
  position: relative;
  top: -1px;
  cursor: pointer;
}

.us-radio:before {
  content: "●";
  font-size: 18px;
  color: #DFDAC0;
  position: relative;
  top: -8px;
  left: 18px;
  z-index: 1;
  font-family: arial;
}

.us-radio-selected:before {
  color: #958572;
}

.us-radio-group {
  margin: 0;
  padding: 0;
  list-style: none;
}

.us-radio-group li,
.us-radio-group label {
  cursor: pointer;
}

.us-radio + input[type=radio] {
  display: none;
}
