.us-result {
  background-color: #00B699;
  color: #fff;
  padding: 35px 50px 40px 128px;
  position: relative;
  font-size: 14px;
}

.us-result a {
  color: #fff;
}

.us-result a:hover {
  color: #fff;
  text-decoration: underline;
}

.us-result h3 {
  font-size: 24px;
  font-weight: normal;
}

.us-result h3 {
  margin: 0;
  margin-bottom: 15px;
}

.us-result p {
  margin: 10px 0 0 0;
}

.us-result-icon {
  position: absolute;
  top: 30px;
  left: 50px;
}

.us-result-circle {
  color: #fff;
  font-family: arial;
  font-size: 112px;
  left: -9px;
  line-height: 1;
  position: absolute;
  text-indent: 0;
  text-shadow: none;
  top: -37px;
}

.us-result-icon .us-result-text {
  border-radius: 50px;
  color: #00AE93;
  font-size: 30px;
  height: 50px;
  font-weight: bold;
  line-height: 52px;
  overflow: hidden;
  font-style: normal;
  text-align: center;
  width: 50px;
  position: absolute;
  text-shadow: 1px 1px rgb(186, 228, 209), 2px 2px rgb(186, 228, 209), 3px 3px rgb(186, 228, 209), 4px 4px rgb(186, 228, 209), 5px 5px rgb(186, 228, 209), 6px 6px rgb(186, 228, 209), 7px 7px rgb(186, 228, 209), 8px 8px rgb(186, 228, 209), 9px 9px rgb(186, 228, 209), 10px 10px #BCE6D3, 11px 11px #BCE6D3, 12px 12px #BCE6D3, 13px 13px #BCE6D3, 14px 14px #BCE6D3;
}

.us-result-icon:after {
  display: none\0;
}

.us-result-icon.iconfont {
  font-weight: normal;
}

a.us-result-mainlink {
  display: block;
  margin: 16px 0 30px;
  font-size: 18px;
}

.us-result-content hr {
  background-color: #fff;
  border: none;
  display: block;
  height: 1px;
  margin: 30px 0;
}

.us-result-error {
  background-color: #BCAD8E;
}

.us-result-error .us-result-text {
  color: #B9AB8E;
  text-shadow: 1px 1px #E8E4D1, 2px 2px #E8E4D1, 3px 3px #E8E4D1, 4px 4px #E8E4D1, 5px 5px #E8E4D1, 6px 6px #E8E4D1, 7px 7px #E8E4D1, 8px 8px #E8E4D1, 9px 9px #E8E4D1, 10px 10px #E8E4D1, 11px 11px #E8E4D1, 12px 12px #E8E4D1, 13px 13px #E8E4D1, 14px 14px #E8E4D1, 15px 15px #E8E4D1, 16px 16px #E8E4D1, 17px 17px #E8E4D1, 18px 18px #E8E4D1;
}
