.ui-select a,
a.ui-select-trigger,
a.ui-select-trigger:hover { 
  text-decoration: none;
  color: #958572;
}
.ui-select a:hover,
.ui-select-trigger:hover {
  text-decoration: none;
}
.ui-select {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: #fff;
  color: #958572;
  font-size: 14px;
  border: 2px solid #957E65;
  border-top: 0;
  padding-bottom: 10px;
}
.ui-select-content {
  margin: -1px 0 0;
  padding: 0;
  overflow: auto;
  height: 100%;
  list-style: none;
  _float: left;
}
.ui-select-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ui-select-item {
  display: block;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}
.ui-select-item:hover,
.ui-select-item-hover {
  background: #00B699;
  color: #fff;
}
.ui-select-item-disabled,
.ui-select-item-disabled a {
  cursor: not-allowed;
  color: #ccc;
}
.ui-select-item-disabled:hover,
.ui-select-item-disabled a:hover {
  background: #fff;
  color: #ccc;
}
.ui-select-trigger {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 38px;
  width: 240px;
  height:38px;
  position: relative;
  text-indent: 11px;
  padding: 0 1px;
  background: #fff;
  border: 1px solid #DBD7BA;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  vertical-align: bottom;
}

.ui-select-arrow {
  color: #FFFFFF;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  text-indent: 0;
  text-align: center;
  top: -1px;
  right: -1px;
  width: 40px;
  background: #BCAD8E;
}

.ui-select-trigger:hover .ui-select-arrow {
  background: #957E65;
}

.ui-select-trigger-focus {
  border: 2px solid #957E65;
  border-bottom-color: #DBD7BA;
  height: 36px;
  line-height: 36px;
  padding: 0;
}

.ui-select-trigger-focus:hover .ui-select-arrow {
  background: #BCAD8E;
}

.ui-select-trigger-focus .ui-select-arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  transform: rotate(180deg);
  top: 0px;
  right: 0px;
  width: 38px;
  line-height: 42px;
}

.ui-select-disabled,
.ui-select .ui-select-disabled {
  color: #aaa;
  cursor: not-allowed;
}

.ui-select-selected {
  color: #3AA890;
  font-weight: bold;
}
