.ui-select a,
a.ui-select-trigger,
a.ui-select-trigger:hover { 
  text-decoration: none;
  color: #958572;
}
.ui-select a:hover,
.ui-select-trigger:hover {
  text-decoration: none;
}
.ui-select {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: #fff;
  color: #958572;
}
.ui-select-content {
  margin: -1px 0 0;
  padding: 0;
  overflow: auto;
  height: 100%;
  list-style: none;
  _float: left;
}
.ui-select-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ui-select-item {
  display: block;
  padding: 12px 15px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}
.ui-select-item:hover,
.ui-select-item-hover {
  background: #00B699;
  color: #fff;
}
.ui-select-item-disabled,
.ui-select-item-disabled a {
  cursor: not-allowed;
  color: #ccc;
}
.ui-select-item-disabled:hover,
.ui-select-item-disabled a:hover {
  background: #fff;
  color: #ccc;
}
.ui-select-trigger {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 40px;
  width: 200px;
  height:40px;
  background: #fff;
  border-right: 40px solid #BCAD8E;
  position: relative;
}

.ui-select-trigger span {
  display: block;
  line-height: 38px;
  height: 38px;
  border: 1px solid #DBD7BA;
  border-right: none;
  text-indent: 12px;
}

.ui-select-arrow {
  color: #FFFFFF;
  display: block;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  right: -40px;
  text-align: center;
  top: 0;
  width: 40px;
}

.ui-select-trigger:hover {
  border-color: #957E65;
}

.ui-select-trigger-focus {
  outline: 2px solid #957E65!important;
}

.ui-select-trigger-focus:hover {
  border-color: #BCAD8E;
}

.ui-select-trigger-focus .ui-select-arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  transform: rotate(180deg);
}

.ui-select-trigger-focus span {
  border-color: #fff;
}

.ui-select .ui-select-trigger {
  display: block;
}
.ui-select-disabled,
.ui-select .ui-select-disabled {
  color: #aaa;
  cursor: not-allowed;
}

.ui-select-selected {
  background: #ECEAD8;
}
