.ui-select a,
a.ui-select-trigger,
a.ui-select-trigger:hover { 
  text-decoration: none;
  color: #958572;
  font-size: 16px;
}
.ui-select a:hover,
.ui-select-trigger:hover {
  text-decoration: none;
}
.ui-select {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: #fff;
  color: #958572;
  font-size: 16px;
}
.ui-select-content {
  margin: -1px 0 0;
  padding: 0;
  overflow: auto;
  height: 100%;
  list-style: none;
  _float: left;
}
.ui-select-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ui-select-item {
  display: block;
  padding: 12px 15px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}
.ui-select-item:hover,
.ui-select-item-hover {
  background: #00B699;
  color: #fff;
}
.ui-select-item-disabled,
.ui-select-item-disabled a {
  cursor: not-allowed;
  color: #ccc;
}
.ui-select-item-disabled:hover,
.ui-select-item-disabled a:hover {
  background: #fff;
  color: #ccc;
}
.ui-select-trigger {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 48px;
  width: 200px;
  height:48px;
  background: #fff;
  border-right: 48px solid #BCAD8E;
  text-indent: 15px;
  position: relative;
}

.ui-select-arrow {
  position: absolute;
  height: 30px;
  line-height:30px;
  width: 30px;
  font-size: 26px;
  font-family: arial;
  font-weight: normal;
  font-style: normal;
  top: 8px;
  right: -37px;
  color: #fff;
  text-align:center;
  text-indent: 6px;
  display:block;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
  transform: rotate(-45deg);
}

.ui-select-trigger:hover {
  border-color: #957E65;
}

.ui-select-trigger-focus {
  outline: 2px solid #957E65!important;
}

.ui-select-trigger-focus:hover {
  border-color: #BCAD8E;
}

.ui-select-trigger-focus .ui-select-arrow {
  top: 15px;
  right: -40px;
  text-indent: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-0.7071067811865477, M12=-0.7071067811865475, M21=0.7071067811865475, M22=-0.7071067811865477, SizingMethod='auto expand')";
  transform: rotate(135deg);
}

.ui-select .ui-select-trigger {
  display: block;
}
.ui-select-disabled,
.ui-select .ui-select-disabled {
  color: #aaa;
  cursor: not-allowed;
}

.ui-select-selected {
  background: #ECEAD8;
}

/* ie8 hack */
@media \0screen {
  .ui-select-arrow {
    top: 2px;
    right: -31px;
  }
  .ui-select-trigger-focus .ui-select-arrow {
    top: 9px;
    right: -35px;
  }
}
