.us-step {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

.us-step li {
  float: left;
  background: #DFDAC0;
  text-align:center;
  line-height: 40px;
  height: 40px;
  color: #A0937E;
  font-size: 16px;
  position: relative;
  text-indent: 20px;
}

/* for parent z-index not enough high problem */
.us-step li:first-child {
  z-index: 4;
}
.us-step li:first-child + li {
  z-index: 3;
}
.us-step li:first-child + li + li {
  z-index: 2;
}
.us-step li:first-child + li + li + li {
  z-index: 1;
}
.us-step li:first-child + li + li + li + li {
  z-index: 0;
}

.us-step li:before {
  content: "";
  position: absolute;
  left: 1px;
  top: -2px;
  z-index: 1;
  text-indent: 0;
  border-top: 22px solid transparent;
  border-left: 22px solid #fff;
  border-bottom: 22px solid transparent;
}

.us-step li:after {
  content: "";
  position: absolute;
  right: -21px;
  top: -2px;
  z-index: 2;
  border-top: 22px solid transparent;
  border-left: 22px solid #DFDAC0;
  border-bottom: 22px solid transparent;
  width:0;
  height:0;
}

.us-step-start:before,
.us-step-end:after {
  display: none;
}

.us-step li.us-step-active {
  background-color: #958572;
  color: #fff;
}

.us-step li.us-step-active:after {
  border-left-color: #958572;
}

.us-step li.us-step-done {
  background-color: #BCAD8E;
  color: #fff;
}

.us-step li.us-step-done:after {
  border-left-color: #BCAD8E;
}

.us-step-3 li {
  width: 33.3%;
}

.us-step-4 li {
  width: 25%;
}

.us-step-5 li {
  width: 20%;
}

/* us-step-mini */

.us-step-mini {
  background: none;
  color: #BCAD8E;
  border-top: 1px solid #BCAD8E;
  border-bottom: 1px solid #BCAD8E;
}

.us-step-mini li {
  background: none;
  text-indent: 15px;
  line-height: 30px;
  height: 30px;
}

.us-step-mini li:before,
.us-step-mini li:after {
  top: 0;
  display: block;
  border-width: 15px;
  content: "";
  width: 0;
  border-left-color: #F5F4E9;
}

.us-step-mini li:before {
  border-left-color: #BCAD8E;
}

.us-step-mini li:after {
  right: -15px;
}

.us-step-mini li.us-step-active {
  background: #BCAD8E;
  z-index: 5!important;
}

.us-step-mini li.us-step-active:before {
  border-left-color: #F5F4E9;
  left: 0;
}

.us-step-mini li.us-step-active:after {
  border-left-color: #BCAD8E;
}

.us-step-mini li.us-step-done {
  color: #E0DCC4;
  background: none;
}

.us-step-mini li.us-step-start:before,
.us-step-mini li.us-step-end:after {
  border: none;
  background: #BCAD8E;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  display: block;
}

.us-step-mini li.us-step-start:before {
  left: 0;
}

.us-step-mini li.us-step-end:after {
  right: 0;
}
