.us-tab {
  border-bottom: 1px solid #BCAD8E;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 20px;
}

.us-tab-item {
  display: inline-block;
}

.us-tab-item a {
  color: #BCAD8E;
  display: block;
  padding: 10px 32px;
}

.us-tab-item a:hover {
  color: #43C8B1;
}

.us-tab-item-current {
  background: #BCAD8E;
  position:relative;
  margin-right: 30px;
}

.us-tab-item-current a {
  color: #fff;
  padding-right: 10px;
}

.us-tab-item-current a:hover {
  color: #fff;
}

.us-tab-item-current:after {
  border-style: solid;
  border-color: transparent #BCAD8E;
  border-width: 53px 0 0 53px;
  content: "";
  position: absolute;
  top: 0;
  right: -53px;
  width: 0;
  height: 0;
}
